#navbar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

#navbar header {
    color: #ffffff;
    text-align: center;
    background-color: #818181;
    margin: 5px 5px 5px 5px;
}

#navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

#navboar a:hover {
    color: #f1f1f1;
}

main {
    margin-left: 160px;
    padding: 0 10px;
}

@media screen and (max-height: 450px) {
    #navbar {
        padding-top: 15px;
    }
    #navbar a {
        font-size: 15px;
    }
}